@import '~bootstrap/scss/bootstrap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// HEADER 
.top{
    
    height: 20px;
    background-color: #007bf6;
}

.menu{
    ul{
        cursor: pointer;
        
        li{
        list-style-type: none; 
        
            :active{
                color: #007bf6;
                border-bottom: 2px solid 007bf6 ;
            }       
        }
    }
}

.jumbo{
    background-image: url(/resources/img/jumbotron.jpg);
    height: 500px;
 
    
}
    
.bottom{
    background-color:#007bf6;
    height: 100px;
}




// FOOTER 

.my_bg{
    background-image: url(/resources/img/footer-bg.jpg);
    max-height: 400px;  // DEBUG
    object-fit: contain;
    overflow: hidden;
   
}

.items{
    li{
        color: aliceblue;
        list-style-type: none;
    }
}

.footer_container{
    overflow: hidden;
}

.big_logo{
    margin-top: -100px;
}



// MAIN PAGE

.my_cont{
    position: relative;

    .text-current{
        background-color: #007bf6;
        padding: 10px;
        position: relative;
        top: -30px;

        a{
            color: white;
            text-decoration: none;
        }

    }
}

.bottom_main{
    background-color: #007bf6;

    a{
        color: white;
        text-decoration: none;
    }
}

